<h1 class="text-center clearfix">using angular and  firebase project</h1>
<!-- Button trigger modal --><div class="clearfix">
<button type="button" (click)="resetform()" class="btn btn-primary float-right mr-4" data-toggle="modal" data-target="#exampleModal">
    Create Employee
  </button></div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{titlestring}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
<table class="table overflow-auto" *ngIf="detailshow">
    <thead>
        <th>Id</th>
        <th>EmpName</th>
        <th>EmpAge</th>
        <th>EmpAddress</th>
    </thead>
    <tbody>
        <tr *ngFor="let id=index,let d of employee">
            <td>{{id+1}}</td>
            <td>{{detailname}}</td>
            <td>{{detailage}}</td>
            <td>{{detailaddress}}</td>
        </tr>
    </tbody>
</table>
            <div class="container" *ngIf="onedit||oneditshow">
                <div class="form-group">
                    <input type="text" placeholder="enter employee name" class="form-control" [(ngModel)]="employeeName">
                </div>
                <div class="form-group">
                  <input type="number" placeholder="enter employee age" [(ngModel)]="employeeAge" class="form-control">
              </div>
              <div class="form-group">
                  <input type="text" placeholder="enter employee address" [(ngModel)]="employeeAddress"class="form-control">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary"(click)="createemp()" *ngIf="onedit" [disabled]="!employeeName||!employeeAge||!employeeAddress">create employee </button>
                  <button class="btn btn-primary"(click)="updateemp()" *ngIf="!onedit" [disabled]="!employeeName||!employeeAge||!employeeAddress">update employee </button>
              </div>
              <div class="form-group">
                  <h4>{{message}}</h4>
              </div>
              </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

<h3 class="text-center">Employee list</h3>
<table class="table">
    <thead>
        <th>Id</th>
        <th>EmpName</th>
        <th>EmpAge</th>
        <th>EmpAddress</th>
        <th>actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of employee, let id=index">
            <td>{{id+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.address}}</td>
            <td>
              <button class="btn btn-primary mr-2"data-toggle="modal" data-target="#exampleModal" (click)="editrec(item)">edit</button>
              <button class="btn btn-danger mr-2" (click)="deleterec(item.id)">delete</button>
              <a data-toggle="modal" data-target="#exampleModal"class="btn btn-secondary" (click)="details(item)">detail</a>
            </td>
        </tr>
    </tbody>
</table>